<div class = "productform">
  <p>Add Product</p>
  <hr>
  
  <label>Image: </label>
  <input [(ngModel)]="imageUrl"/><br>
  <label>Product Name: </label>
  <input [(ngModel)]="productName"/><br>
   <label>Product Code: </label>
  <input [(ngModel)]="productCode"/><br>
  <label>Product ID: </label>
  <input [(ngModel)]="productId"/><br>
    <label>Manufacturer Date: </label>
  <input [(ngModel)]="releaseDate"/><br>
  <label>Prices: </label>
  <input [(ngModel)]="price"/><br>
  <label>Rating: </label>
  <input [(ngModel)]="starRating"/><br>
  <button (click)="onAddNewProduct()">Add Product</button><br>


  </div>
